@256
D=A
@SP
M=D
@Sys.initReturnAddress.0
D=A
@SP
M=M+1
A=M-1
M=D
(Sys.initCall)
@LCL
D=M
@SP
M=M+1
A=M-1
M=D
@ARG
D=M
@SP
M=M+1
A=M-1
M=D
@THIS
D=M
@SP
M=M+1
A=M-1
M=D
@THAT
D=M
@SP
M=M+1
A=M-1
M=D
@SP
D=M
@LCL
M=D
@SP
D=M
@5
D=D-A
@0
D=D-A
@ARG
M=D
@Sys.init
0;JMP
(Sys.initReturnAddress.0)
(END)
@END
0;JMP
